[ req ]
distinguished_name = req_distinguished_name
policy             = policy_anything
x509_extensions     = v3_ca

[ req_distinguished_name ]
commonName                      = Common Name (eg, your name or your server hostname) ## Print this message

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical,CA:true
